body {
	background: linear-gradient(135deg, #096E8A, #2C6975, #06A99D, #68B2A0);
  }

.letter-image {
	position: fixed;
	z-index: 3;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.animated-mail {
	position: absolute;
	height: 150px;
	width: 200px;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;
	
	.body {
		position: absolute;
		bottom: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 100px 200px;
		border-color: transparent transparent #8BD5FE transparent;
		z-index: 2;
	}
	
	.top-fold {
		position: absolute;
		top: 50px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 50px 100px 0 100px;
		-webkit-transform-origin: 50% 0%;
		-webkit-transition: transform .4s .4s, z-index .2s .4s;
		-moz-transform-origin: 50% 0%;
		-moz-transition: transform .4s .4s, z-index .2s .4s;
		transform-origin: 50% 0%;
		transition: transform .4s .4s, z-index .2s .4s;
		border-color: #3cb8fa transparent transparent transparent;
		z-index: 2;
	}
	
	.back-fold {
		position: absolute;
		bottom: 0;
		width: 200px;
		height: 100px;
		background: #8BD5FE;
		z-index: 0;
	}
	
	.left-fold {
		position: absolute;
		bottom: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 50px 0 50px 100px;
		border-color: transparent transparent transparent #8BD5FE;
		z-index: 2;
	}
	
	.letter {
		left: 20px;
		bottom: 0px;
		position: absolute;
		width: 160px;
		height: 60px;
		background: white;
		z-index: 1;
		overflow: hidden;
		-webkit-transition: .4s .2s;
		-moz-transition: .4s .2s;
		transition: .4s .2s;
		
		.letter-border {
			height: 10px;
			width: 100%;
      background: repeating-linear-gradient(
        -45deg,
        #416257,
        #c2ceb0 8px,
        transparent 8px,
        transparent 18px
      );
		}
		
		.letter-title {
			margin-top: 10px;
			margin-left: 5px;
			height: 10px;
			width: 40%;
            opacity: 0.7;
			background: #c2ceb0;
		}
		
.letter-context {
  margin-top: 15px;
  margin-left: 45px;
  height: 20px;
  width: 60%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
		
		.letter-stamp {
			margin-top: 30px;
			margin-left: 120px;
			border-radius: 100%;
			height: 30px;
			width: 30px;
			background:  #416257;
			opacity: 0.3;
		}
	}
}

.shadow {
	position: absolute;
	top: 200px;
	left: 50%;
	width: 400px;
	height: 30px;
	transition: .4s;
	transform: translateX(-50%);
	-webkit-transition: .4s;
	-webkit-transform: translateX(-50%);
	-moz-transition: .4s;
	-moz-transform: translateX(-50%);
	
	border-radius: 100%;
	background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.0), rgba(0,0,0,0.0));
}

	.letter-image:hover {
		.animated-mail {
			transform: translateY(50px);
			-webkit-transform: translateY(50px);
			-moz-transform: translateY(50px);
		}
		
		.animated-mail .top-fold {
			transition: transform .4s, z-index .2s;
			transform: rotateX(180deg);
			-webkit-transition: transform .4s, z-index .2s;
			-webkit-transform: rotateX(180deg);
			-moz-transition: transform .4s, z-index .2s;
			-moz-transform: rotateX(180deg);
			z-index: 0;
		}
		
		.animated-mail .letter {
			height: 180px;
		}
		
		.shadow {
			width: 250px;
		}
	}

    .letter-image a:link, a:visited{
        color: black;
        }
        
        .letter-image a:hover{
        color: #636363;
        }


/*Star background*/

		  .stars {
		   background: transparent url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
		   position: absolute;
			  top: 0;
			  bottom: 0;
			  left: 0;
			  right: 0;
			  display: block;
				z-index: 0;
		  }

/*Javascript to make the stars interact with cursor movement*/

img {
  background: transparent;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@keyframes slide-transparency {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-opacity {
  animation-name: slide-transparency;
  animation-iteration-count: infinite;
}

.freq-5 {
  animation-duration: 5s;
}

.freq-6 {
  animation-duration: 6.33s;
}

.freq-7 {
  animation-duration: 7s;
}

.freq-8 {
  animation-duration: 8.88s;
}

.freq-9 {
  animation-duration: 9s;
}

.freq-10 {
  animation-duration: 10.17s;
}

.delay-2 {
  animation-delay: 1.33s;
}

.delay-4 {
  animation-delay: 2.11s;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: -1000;
}

.z-1,
.z-2,
.z-3 {
  position: absolute;
  width: 150vw;
  height: 150vw;
  left: -50vw;
  top: -50vw;
  transform-origin: center;
}

.tile {
  overflow: hidden;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-size: 512px 512px;
}

.top-left {
  background-image: url("./img/topleft.png");
}

.top-right {
  background-image: url("./img/topright.png");
}

.bottom-left {
  background-image: url("./img/bottomleft.png");
}

.bottom-right {
  background-image: url("./img/bottomright.png");
}

@media only screen and (max-width: 375px) {
	body {
		background: linear-gradient(135deg, #096E8A, #2C6975, #06A99D, #68B2A0);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.letter-image {
		position: fixed;
		z-index: 3;
		top: 50%;
		left: 50%;
		width: 200px;
		height: 200px;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		cursor: pointer;
	}

	.animated-mail {
		position: absolute;
		height: 150px;
		width: 200px;
		-webkit-transition: .4s;
		-moz-transition: .4s;
		transition: .4s;
		
		.body {
			position: absolute;
			bottom: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 100px 200px;
			border-color: transparent transparent #8BD5FE transparent;
			z-index: 2;
		}
		
		.top-fold {
			position: absolute;
			top: 50px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 50px 100px 0 100px;
			-webkit-transform-origin: 50% 0%;
			-webkit-transition: transform .4s .4s, z-index .2s .4s;
			-moz-transform-origin: 50% 0%;
			-moz-transition: transform .4s .4s, z-index .2s .4s;
			transform-origin: 50% 0%;
			transition: transform .4s .4s, z-index .2s .4s;
			border-color: #3cb8fa transparent transparent transparent;
			z-index: 2;
		}
		
		.back-fold {
			position: absolute;
			bottom: 0;
			width: 200px;
			height: 100px;
			background: #8BD5FE;
			z-index: 0;
		}
		
		.left-fold {
			position: absolute;
			bottom: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 50px 0 50px 100px;
			border-color: transparent transparent transparent #8BD5FE;
			z-index: 2;
		}
		
		.letter {
			left: 20px;
			bottom: 0px;
			position: absolute;
			width: 160px;
			height: 60px;
			background: white;
			z-index: 1;
			overflow: hidden;
			-webkit-transition: .4s .2s;
			-moz-transition: .4s .2s;
			transition: .4s .2s;
			
			.letter-border {
				height: 10px;
				width: 100%;
		  background: repeating-linear-gradient(
			-45deg,
			#416257,
			#c2ceb0 8px,
			transparent 8px,
			transparent 18px
		  );
			}
			
			.letter-title {
				margin-top: 10px;
				margin-left: 5px;
				height: 10px;
				width: 40%;
				opacity: 0.7;
				background: #c2ceb0;
			}
			
	.letter-context {
	  margin-top: 15px;
	  margin-left: 45px;
	  height: 20px;
	  width: 60%;
	  background: white;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  font-size: 20px;
	}
			
			.letter-stamp {
				margin-top: 30px;
				margin-left: 120px;
				border-radius: 100%;
				height: 30px;
				width: 30px;
				background:  #416257;
				opacity: 0.3;
			}
		}
	}
	
	.shadow {
		position: absolute;
		top: 200px;
		left: 50%;
		width: 400px;
		height: 30px;
		transition: .4s;
		transform: translateX(-50%);
		-webkit-transition: .4s;
		-webkit-transform: translateX(-50%);
		-moz-transition: .4s;
		-moz-transform: translateX(-50%);
		
		border-radius: 100%;
		background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.0), rgba(0,0,0,0.0));
	}
	
		.letter-image:hover {
			.animated-mail {
				transform: translateY(50px);
				-webkit-transform: translateY(50px);
				-moz-transform: translateY(50px);
			}
			
			.animated-mail .top-fold {
				transition: transform .4s, z-index .2s;
				transform: rotateX(180deg);
				-webkit-transition: transform .4s, z-index .2s;
				-webkit-transform: rotateX(180deg);
				-moz-transition: transform .4s, z-index .2s;
				-moz-transform: rotateX(180deg);
				z-index: 0;
			}
			
			.animated-mail .letter {
				height: 180px;
			}
			
			.shadow {
				width: 250px;
			}
		}
	
		.letter-image a:link, a:visited{
			color: black;
			}
			
			.letter-image a:hover{
			color: #636363;
			}
}