*{
    margin: 0px;
    padding: 0px;
}

/* About me- text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

/*Github contribution chart*/
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Adjust the height as needed */
  }

/*Portfolio section - CSS for hover effect on button */
.btn-success:hover {
    background-color: #4e756d !important;
    color: #cfe7d8 !important;
    border: #4e756d;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: pink;
}
.servicesText:hover {
    border: 1px solid pink;
}

#contact{
    text-align: center;
}

.buttonforemail{
    background-color: #f5f4ef;
    border: none;
    color: black;
    margin: 20px;
    padding: 20px 40px;
    text-align: left;
    width: 200px;
  }
  
  .buttonforemail a:link, a:visited{
  color: black;
  }
  
  .buttonforemail a:hover{
  color: #636363;
  }

/* navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* footer */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-github:hover, .fa-linkedin:hover, .fa-envelope:hover {
    color: white;
}
.fa,.fab,.fas {
    color: #000000;
}

/*contact - Typing effect*/
  @import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

  .wrapper.four {
      
      font-size: 9rem;
      font-family: "Play", sans-serif;
  }
  .four .type{
      padding: 2rem 1rem;
      width: auto;
      margin: auto;
  }
  .four h3 {
      width: 23ch;
      border-right: 4px solid black;
      margin: 2rem auto;
      white-space: nowrap;
      overflow: hidden;
      animation: typing 3s steps(20, end), blink-caret 0.5s step-end infinite alternate;
  }

  @-webkit-keyframes typing {
      from {
          width: 0;
      }
  }
  @-webkit-keyframes blink-caret {
      50% {
          border-color: transparent;
      }
  }

/* footer styling */
#footer {
    background-color: #416257;
    text-align: center;
}

/*star*/
.checked {
    color: orange;
}

@font-face {
    font-family: 'Papyrus';
    src: url('path/to/papyrus.ttf') format('truetype');
}

#intro {
    font-family: 'Papyrus', Georgia;
}
  